.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
*.esm.json
*.tns.json
logs
!src/scripts/*.js
demo-angular/**/*.js
demo-angular/*.d.ts
!demo/references.d.ts
demo-angular/lib
demo-angular/platforms
demo-angular/node_modules
node_modules
publish/src
publish/package
src/platforms/android/nativescript_geocoding.aar
